<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testng Cucumber Suite" parallel="classes" thread-count="3">
  <test name="Run All Tests">
  <classes>
  <class name="main.CucumberRunner"></class>
 <!--   <class name="main.CucumberRunnerSanity"></class> --> 
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
